## Combing census and pollution data

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Dependencies
import pandas as pd

In [2]:
# Read in census csv and pollution csv to merge
pollution_measurements = pd.read_csv("Resources/Collected_Pollution_Measurements.csv")
population_transit_data = pd.read_csv("Resources/grouped_by_city.csv")

In [3]:
pollution_measurements

,datetime,co,no,no2,o3,so2,pm2_5,pm10,nh3,aqi,City,State,Zipcode
0,2021-02-01 12:00:00,250.34,0.00,10.28,70.10,2.30,2.00,3.06,0.41,1.0,Elmhurst,Queens County,11373
1,2021-02-01 11:00:00,243.66,0.00,7.37,77.96,2.15,1.66,2.43,0.26,1.0,Elmhurst,Queens County,11373
2,2021-02-01 10:00:00,243.66,0.00,6.08,85.83,1.83,1.32,2.10,0.23,2.0,Elmhurst,Queens County,11373
3,2021-02-01 09:00:00,243.66,0.00,6.08,89.41,1.83,1.24,2.06,0.24,2.0,Elmhurst,Queens County,11373
4,2021-02-01 08:00:00,247.00,0.00,7.20,84.40,2.15,1.68,2.56,0.25,2.0,Elmhurst,Queens County,11373
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17575,2020-12-01 16:00:00,527.38,11.29,25.36,32.19,3.04,22.15,63.48,5.70,4.0,El Paso,TX,79936
17576,2020-12-01 15:00:00,380.52,1.76,20.74,36.84,1.82,16.95,55.72,5.07,4.0,El Paso,TX,79936
17577,2020-12-01 14:00:00,293.73,0.00,10.80,51.50,0.87,13.41,48.29,4.37,3.0,El Paso,TX,79936
17578,2020-12-01 13:00:00,250.34,0.00,6.34,60.08,0.56,11.53,43.26,3.96,3.0,El Paso,TX,79936
17579,2020-12-01 12:00:00,230.31,0.00,4.93,66.52,0.45,10.37,40.68,3.86,3.0,El Paso,TX,79936

In [4]:
population_transit_data

                   City  Population  Public Transportation Rate
0                  ABAC     25590.0                    0.346470
1              Aberdeen     31027.0                    0.362211
2     Aberdeen Township     30709.0                   11.924538
3               Abilene     57336.0                    0.802012
4              Abingdon     29587.0                    1.981002
...                 ...         ...                         ...
2262               Yuma     72980.0                    0.704714
2263            Zachary     25462.0                    0.260885
2264            Zeeland     29038.0                    0.132330
2265               Zion     31717.0                    1.738878
2266         Zionsville     26493.0                    0.075717

[2267 rows x 3 columns]

In [5]:
# Combine the two datasets into one
combined_data = pd.merge(population_transit_data,pollution_measurements, on="City")

# Export to csv
combined_data.to_csv("Resources/combined_pollution_population_transit_data.csv")

# Display data table
combined_data

,City,Population,Public Transportation Rate,datetime,co,no,no2,o3,so2,pm2_5,pm10,nh3,aqi,State,Zipcode
0,Bell Gardens,130178.0,6.861792,2021-02-01 12:00:00,700.95,50.52,47.30,0.00,7.75,29.64,43.23,6.84,4.0,CA,90201
1,Bell Gardens,130178.0,6.861792,2021-02-01 11:00:00,687.60,47.83,50.04,0.00,7.21,29.84,43.87,6.71,4.0,CA,90201
2,Bell Gardens,130178.0,6.861792,2021-02-01 10:00:00,714.30,48.73,53.47,0.00,6.32,30.97,44.93,6.33,4.0,CA,90201
3,Bell Gardens,130178.0,6.861792,2021-02-01 09:00:00,794.41,56.33,58.26,0.00,4.89,34.66,48.93,5.57,4.0,CA,90201
4,Bell Gardens,130178.0,6.861792,2021-02-01 08:00:00,1001.36,80.47,67.17,0.00,3.79,43.97,61.04,5.95,4.0,CA,90201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17575,South Los Angeles,311049.0,17.955990,2020-12-01 16:00:00,1562.12,182.39,69.92,0.73,8.70,60.55,87.07,17.48,5.0,Los Angeles County,90011
17576,South Los Angeles,311049.0,17.955990,2020-12-01 15:00:00,1028.06,101.03,58.26,0.00,8.82,41.10,60.61,11.02,4.0,Los Angeles County,90011
17577,South Los Angeles,311049.0,17.955990,2020-12-01 14:00:00,714.30,54.99,52.78,0.00,9.42,28.63,43.82,6.27,4.0,Los Angeles County,90011
17578,South Los Angeles,311049.0,17.955990,2020-12-01 13:00:00,680.92,47.83,56.21,0.00,10.37,27.30,42.41,5.76,4.0,Los Angeles County,90011
17579,South Los Angeles,311049.0,17.955990,2020-12-01 12:00:00,694.28,47.83,60.32,0.00,10.97,27.60,43.23,6.33,4.0,Los Angeles County,90011

In [3]:
combined_data1 = df.set_index('datetime')
num_cols = ['co',
            'no',
            'no2',
            'o3',
            'so2',
            'pm2_5',
            'pm10']
combined_data[num_cols] = combined_data[num_cols].astype(float)
combined_data[num_cols].plot()
plt.xticks(range(len(combined_data.index)), combined_data.index)

NameError: name 'df' is not defined