In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
city_data = pd.read_csv("Resources/city_pop_transit_age_latlng.csv")
city_data.head()

,City,Population,Public Transportation Rate,Median Age,Lat,Lng
0,ABAC,25590.0,0.346470,36.90,31.483076,-83.530194
1,Aberdeen,31027.0,0.362211,36.70,57.149717,-2.094278
2,Aberdeen Township,30709.0,11.924538,41.70,40.417095,-74.222116
3,Abilene,57336.0,0.802012,31.45,32.448736,-99.733144
4,Abingdon,29587.0,1.981002,35.60,36.709833,-81.977348

In [4]:
pub_trans = city_data.sort_values("Public Transportation Rate")
pub_trans.head()

,City,Population,Public Transportation Rate,Median Age,Lat,Lng
552,El Dorado,32328.0,0.0,38.2,38.809573,-94.457183
964,Kingman,26010.0,0.0,44.4,35.189443,-114.053006
29,Alice,27738.0,0.0,34.0,27.752249,-98.069725
1633,Pueblo West,30674.0,0.0,37.9,38.350002,-104.722755
1628,Progreso Lakes,65875.0,0.0,30.6,26.071744,-97.958891

In [16]:
pub_trans = pub_trans.loc[pub_trans["Public Transportation Rate"] > 1]
pub_trans.count()

City                          487
Population                    487
Public Transportation Rate    487
Median Age                    487
Lat                           487
Lng                           487
dtype: int64

In [17]:
pub_trans = pub_trans.sort_values("Population")
pub_trans.head()

,City,Population,Public Transportation Rate,Median Age,Lat,Lng
71,Artesia,50069.0,2.636384,44.2,33.865848,-118.083121
527,East Lansing,50081.0,5.217250,23.6,42.736979,-84.483865
263,CRYSTAL CITY,50222.0,7.317859,30.3,38.855419,-77.052129
2250,Yardley,51148.0,5.698565,42.1,40.245664,-74.845997
662,Fort Washington,51460.0,12.973156,43.4,38.707338,-77.023031

In [18]:
pub_trans = pub_trans.loc[pub_trans["Population"] >= 50000]
pub_trans = pub_trans.sort_values("Population")
pub_trans.head(20)

,City,Population,Public Transportation Rate,Median Age,Lat,Lng
71,Artesia,50069.0,2.636384,44.20,33.865848,-118.083121
527,East Lansing,50081.0,5.217250,23.60,42.736979,-84.483865
263,CRYSTAL CITY,50222.0,7.317859,30.30,38.855419,-77.052129
2250,Yardley,51148.0,5.698565,42.10,40.245664,-74.845997
662,Fort Washington,51460.0,12.973156,43.40,38.707338,-77.023031
437,DORCHESTR CTR,51544.0,36.231632,34.70,42.291765,-71.071717
1547,Peabody,51597.0,2.411370,44.90,42.527873,-70.928661
1177,Marshfield,51660.0,2.017377,42.65,44.668852,-90.171799
1859,Somerset,51722.0,7.473366,40.50,51.105097,-2.926231
151,Belmont,51789.0,10.038911,40.55,39.024683,-94.865839
852,Hoboken,51979.0,55.069535,31.50,40.743991,-74.032363
724,Glendora,52002.0,2.556522,40.05,34.136119,-117.865339
1475,Oregon City,52182.0,2.811973,40.30,45.336447,-122.605042
476,Denton,52300.0,2.386962,27.05,33.214841,-97.133068
1889,Southeast Washington,52480.0,42.397016,32.70,47.751074,-120.740139
354,Christiana,52515.0,3.709813,33.50,39.679970,-75.657180
308,Cathedral City,52534.0,3.261723,34.80,33.780539,-116.466804
940,Kaneohe,52637.0,4.733418,42.00,21.399648,-157.797365
1098,Lombard,52833.0,4.377491,40.50,41.880030,-88.007843
1652,Rancho Cordova,52886.0,4.402083,36.90,38.589072,-121.302728

In [20]:
small_city = pub_trans.loc[pub_trans["Population"] <= 60000]
small_city.head(20)

,City,Population,Public Transportation Rate,Median Age,Lat,Lng
71,Artesia,50069.0,2.636384,44.20,33.865848,-118.083121
527,East Lansing,50081.0,5.217250,23.60,42.736979,-84.483865
263,CRYSTAL CITY,50222.0,7.317859,30.30,38.855419,-77.052129
2250,Yardley,51148.0,5.698565,42.10,40.245664,-74.845997
662,Fort Washington,51460.0,12.973156,43.40,38.707338,-77.023031
437,DORCHESTR CTR,51544.0,36.231632,34.70,42.291765,-71.071717
1547,Peabody,51597.0,2.411370,44.90,42.527873,-70.928661
1177,Marshfield,51660.0,2.017377,42.65,44.668852,-90.171799
1859,Somerset,51722.0,7.473366,40.50,51.105097,-2.926231
151,Belmont,51789.0,10.038911,40.55,39.024683,-94.865839
852,Hoboken,51979.0,55.069535,31.50,40.743991,-74.032363
724,Glendora,52002.0,2.556522,40.05,34.136119,-117.865339
1475,Oregon City,52182.0,2.811973,40.30,45.336447,-122.605042
476,Denton,52300.0,2.386962,27.05,33.214841,-97.133068
1889,Southeast Washington,52480.0,42.397016,32.70,47.751074,-120.740139
354,Christiana,52515.0,3.709813,33.50,39.679970,-75.657180
308,Cathedral City,52534.0,3.261723,34.80,33.780539,-116.466804
940,Kaneohe,52637.0,4.733418,42.00,21.399648,-157.797365
1098,Lombard,52833.0,4.377491,40.50,41.880030,-88.007843
1652,Rancho Cordova,52886.0,4.402083,36.90,38.589072,-121.302728

In [21]:
small_city.to_csv("Resources/small_city.csv", index=False)